.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 35vw;
  min-width: 35vw;
  max-height: 100vh;
  min-height: 100vh;
}

.top {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 5px 0px;
  max-height: 60vh;
  min-height: 60vh;
  gap: 10px;
}

.search {
  flex: 1;
  background-color: var(--bg-0);
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.searchBar {
  margin-bottom: 10px;
  background-color: var(--fg-0);
  border: 1px solid var(--fg-0);
  border-radius: var(--rc-0);
  padding: 10px;
}

.searchResults {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--fg-2);
  padding: 4px;
  overflow-y: auto;
  background-color: var(--fg-2);
}

.classThumbnail {
  min-height: 1.25rem;
  display: block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.classThumbnailSelected {
  border-color: var(--hl-1);
}

.display {
  flex-grow: 1;
  background-color: var(--fg-1);
  padding: 15px;
  margin: 5px 0px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addButton {
  max-width: 125px;
}

.filters {
  flex: 1;
  background-color: var(--bg-0);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 7px 5px 7px 7px;
  border: 1px solid var(--fg-0);
  border-radius: var(--rc-0);
  background-color: var(--fg-0);
}

.filter:has(input:hover) {
  background-color: var(--fg-3);
}

.filterToggle {
  display: flex;
  gap: 5px;
  align-items: center;
}

.filterToggle label:hover,
.filterToggle:has(input:hover) {
  cursor: pointer;
}

.filterProgress {
  font-size: 0.85rem;
}

.bold {
  font-weight: bold;
}
