.degreePlannerContainer {
    flex: 2;
    flex-direction: column; /* Display in a column (stacked vertically) */
    background-color: var(--bg-3);
    padding: 10px;
}

/* Button Bar CSS */
.degreePlannerContainer .buttonBar {
    background-color: var(--bg-0);
    padding: 10px;
    margin: 5px 0px; /* top/bottom, left/right */
}

/* Yearly Schedule CSS */
.degreePlannerContainer .yearlySchedule {
    background-color: var(--bg-0);
    padding: 10px;
    margin: 5px 0px; /* top/bottom, left/right */
    height: 93%;
}