.degreePlannerContainer {
  flex: 2;
  flex-direction: column; /* Display in a column (stacked vertically) */
  background-color: var(--fg-0);
  padding: 10px;
  max-width: calc(100vw - 35vw);
}

/* Button Bar CSS */
.buttonBar {
  background-color: var(--bg-0);
  padding: 10px;
  margin: 5px 0px; /* top/bottom, left/right */
  display: flex; /* display in 1 line */
  align-items: center; /* vertical center */
}

.btnBarButtons {
  /* inherits changes from button in index.css */
  margin: 4px;
}

/* absolute positioning , not relative? get outside of container */
/* global top level component - hooks, global states to inject into this component (added to state doc) */
.modals {
  background-color: var(--bg-1);
}

/* Yearly Schedule CSS */
.yearlySchedule {
  display: flex;
  flex-direction: row;
  /* background-color: var(--bg-0); */
  padding: 10px;
  margin: 5px 0px; /* top/bottom, left/right */
  height: 93%;
  overflow-x: scroll;
}

/* Year Slot CSS */
.year {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--bg-0);
  padding: 10px;
  margin: 5px 5px;
  min-width: 225px;
}

/* Year text CSS */
.yearText {
  color: var(--fg-0);
}

/* Semester CSS */
.semester {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  background-color: var(--hl-3);
  padding: 10px;
  margin: 5px 0px;
}

.classSlot {
  flex-grow: 1;
}

.highlight {
  background-color: yellow;
}

.highlight2 {
  color: var(--hl-1);
  font-weight: bold;
}
