.degreePlannerContainer {
  flex: 2;
  flex-direction: column; /* Display in a column (stacked vertically) */
  background-color: var(--bg-3);
  padding: 10px;
}

/* Button Bar CSS */
.degreePlannerContainer .buttonBar {
  background-color: var(--bg-0);
  padding: 10px;
  margin: 5px 0px; /* top/bottom, left/right */
  display: flex; /* display in 1 line */
  align-items: center; /* vertical center */
}

.btnBarButtons {
  /* inherits changes from button in index.css */
  margin: 4px;
}

/* Yearly Schedule CSS */
.degreePlannerContainer .yearlySchedule {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-0);
  padding: 10px;
  margin: 5px 0px; /* top/bottom, left/right */
  height: 93%;
}

/* Year CSS */
.degreePlannerContainer .yearlySchedule .year {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--bg-3);
  padding: 10px;
  margin: 5px 5px;
}

/* Year Header CSS */
.degreePlannerContainer .yearlySchedule .year .header {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-3);
  padding: 10px;
  margin: 5px 0px;
  gap: 20px;
}

/* Semester CSS */
.degreePlannerContainer .yearlySchedule .year .semester {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--bg-2);
  padding: 10px;
  margin: 5px 0px;
  height: 93%;
}
